@import '../base/normalize';
@import '../module/header';
@import '../module/form';
body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  background-color: #f1f7fc;
}
