extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/signup") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div(class="form_div")
    h2 タスクを追加する
    form(class="form" action="/folders/"+id+"/create/tasks" method="post")
      p タイトル
      input(class="input" type="text" name="task_name" required)
      p 期限
      input(type="date" name="date_limit" required)
      input(type="hidden" name="folder_id",value=folderId)
      button(class="button" type="submit") 送信