extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/signup") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div(class="form_div")
    h2 タスクを編集する
    form(class="form" action=`/folders/${folderId}/tasks/${taskId}/edit` method="post")
      p タイトル
      input(class="input" type="text" name="task_name" placeholder=`${taskTitle}` required)
      p 状態
      select(name="status")
        option(value="着手") 着手
        option(value="未着手") 未着手
        option(value="完了") 完了
      p 期限
      input(type="date" name="date_limit" placeholder=`${taskLimit}` required)
      button(class="button" type="submit") 送信