extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/signup") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div(class="form_div")
    h2 パスワード再発行
    form(class="form" action="/forgat-pass" method="post")
      p メールアドレス
      input(class="input" type="email" name="mail")
      button(class="button" type="submit") 送信
