doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    header
      h1(class="float_left clear") todo-app
      div(class="float_right clear")
        p 新規登録
        p Login
    block content
