extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/signup") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div(class="form_div")
    h2 Login
    form(class="form" action="/login" method="post")
    p メールアドレス
    input(class="input" type="email" name="mail")
    p パスワード
    input(class="input" type="password" name="password")
    br
    button(class="button" type="submit") 送信
  p.forgetpass
    a(href="#") パスワードを忘れた方
  p.notsignup
    a(href="/signup") 会員登録をしてない方はこちら
