extends layout

block content
  div(class="form_div")
    h2 新規登録
    form(action="/signin" method="post")
      p メールアドレス
      input(type="email" name="mail")
      p 名前
      input(type="text" name="username")
      p パスワード
      input(type="password" name="password")
      p パスワード確認用
      input(type="password" name="")
      br
      button(type="submit") 送信
