extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/SIGNUP") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div(class="form_div")
    h2 新規登録
    form(class="form" id="js_login_form" action="/signup" method="post")
      p メールアドレス
      input(class="input" type="email" name="mail" required)
      p 名前
      input(class="input" type="text" name="username" required)
      p パスワード
      input(class="input" id="js_password1" type="password" name="password" required)
      p パスワード確認用
      input(class="input" id="js_password2" type="password" name="passwordConfirmation" required)
      br
      button(class="button" type="submit") 送信
