extends layout

block content
  header
    h1(class="float_left clear") todo-app
    div(class="float_right clear")
      p 新規登録
      p Login
  div(class="form_div")
    h2 新規登録
    form(action="/signup" method="post")
    p メールアドレス
    input(type="email" name="mail")
    p 名前
    input(type="text" name="username")
    p パスワード
    input(type="password" name="password")
    p パスワード確認用
    input(type="password" name="")
    br
    button(type="submit") 送信
