extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/SIGNUP") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div.task_folder
    div.folder.clear
      h2 フォルダ
      ul
        li
          a(class="border" href="/") フォルダを追加する
        li
          a(href="#") test
        li
          a(href="#") test
        li
          a(href="#") test
        li
          a(href="#") test
    div.tasks
      h2 タスク
      a(href="#" class="border") タスクを追加する
      table
        thead
          tr
            th タイトル
            th 状態
            th 期限
            th
        tbody
          tr
            td テスト
            td テスト
            td テスト
            td
              a(href="#") 編集
          tr
            td テスト
            td テスト
            td テスト
            td
              a(href="#") 編集
          tr
            td テスト
            td テスト
            td テスト
            td
              a(href="#") 編集
          tr
            td テスト
            td テスト
            td テスト
            td
              a(href="#") 編集