h2 {
  margin: 0;
  background-color: #e5e9ec;
}

.form-div {
  width: 320px;
  padding: 5px 20px;
  margin: 100px auto 10px;
  background-color: white;
}

.form {
  display: inline-block;
}

.input {
  width: 320px;
  margin-bottom: 10px;
  font-size: 20px;
}

.forgetpass,
.notsignup {
  a {
    display: block;
    width: 350px;
    margin: 0 auto;
  }
}

.button {
  margin-left: 260px;
  font-size: 20px;
}

p {
  margin: 0 0 0 5px;
  font-weight: bold;
}
