.header {
  height: 50px;
  padding: 10px 20px;
  color: #fff;
  background-color: #15274d;
}

.ul-element {
  display: inline-block;
  list-style: none;
}

.ul-element a {
  color: #fff;
  text-decoration: none;
}

.header h1 {
  float: left;
  line-height: 0.5;
}

.header div {
  width: 260px;
  margin-left: auto;
}

.header div p {
  display: inline-block;
}

.header div p:first-child {
  margin-right: 10px;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}
