.folder {
  float: left;
  width: 25%;
  background-color: white;

  ul {
    padding: 0;
  }

  li {
    margin-top: 10px;
  }
}

.tasks {
  width: 75%;
  margin-left: 27%;
  background-color: white;

  .border {
    margin-top: 10px;
  }

  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;

    tbody {
      td:first-child {
        width: 60%;
      }

      td:last-child {
        width: 15%;
      }
    }

    tr {
      border: 1px solid #b6bcc6;
    }

    th {
      text-align: left;
    }
  }
}

.task-folder {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;

  a {
    display: block;
    width: 90%;
    margin: 0 auto;
    color: black;

    &:hover,
    &:active {
      background-color: aqua;
    }
  }

  .border {
    text-decoration: none;
    border: 1px solid #b6bcc6;
  }

  ul {
    list-style: none;
  }
}
